.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 0;

}
.counter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 88%, rgba(0,0,0,0.75) 100%);
}

#altCounter {
 
  color:rgb(112, 76, 182);
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 88%, rgba(0,0,0,0.75) 100%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.counter, .altcounter {
  margin-top: 3.5rem;
}
